#login .col-md-4,
.col-md-8 {
  height: 80vh;
  padding: 15px 15px;
}

#login .col-md-4 {
  display: flex;
}

.row {
  box-shadow: 15px 15px 15px grey;
}

#login #buttons {
  background-color: #008ee6;
}

#login #logSin {
  background-color: #008ee6;
}

#login .btn-light,
.btn-dark {
  width: 100%;
  margin-left: 5px;
}

#msg {
  font-size: 12px;
  display: block;
  font-weight: bold;
}

.signForm {
  display: none;
}

@media only screen and (max-width: 600px) {
  #login .col-md-4 {
    height: max-content;
    display: block;
  }
  #login .btn-light,
  .btn-dark {
    margin-top: 5px;
  }
  body {
    padding: 15px 15px;
  }
}
