.movieCard {
  height: 60vh;
  color: black;
  width: min-content;
  border: 10px solid white;
  border-radius: 8px;
  text-align: center;
  background-color: white;
  padding-bottom: 5px;
}

.movieCard img {
  width: 15vw;
}

.movieCard #title {
  font-weight: bold;
  word-break: word-break;
  margin: 0;
}

.movieCard #year {
  font-style: italic;
  margin: 0;
}

#viewMore {
  display: block;
  color: white;
  /* border: 5px solid #004d1a; */
  border-radius: 3px;
  background-color: #004d1a;
  width: max-content;
  margin: 0 45px;
}
#viewMore:hover {
  font-weight: bold;
  background-color: #8ccf9a;
  color: #000000;
}
#popUp {
  display: block;
}

@media only screen and (max-width: 600px) {
  .movieCard {
    padding: 2px 2px;
    height: max-content;
    margin-bottom: 5vh;
    width: auto;
  }
  .movieCard img {
    width: 100%;
  }
}
