.popup {
  display: none;
  width: 35vw;
  height: max-content;
  border: 2px solid black;
  border-radius: 5px;
  position: fixed;
  z-index: 1;
  top: 30vh;
  left: 40vw;
  background-color: white;
  padding: 2vh 2vw;
}

.popup .title {
  font-weight: bold;
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
}

.popup .btn {
  border: 2px solid black;
  border-radius: 5px;
}

.popup .btn:hover {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 600px) {
  .popup {
    width: 90%;
    height: max-content;
    left: 5vw;
  }
}
